@font-face {
font-family: Delicious;
src: url(fonts/Delicious-Roman.otf);
}

@font-face {
font-family: Delicious;
src: url(fonts/Delicious-Bold.otf);
font-weight: bold;
}

/*GLOBAL*/

body {
	min-height: 100%;
	margin: 0px;
	font-family: Delicious;
	font-size: 22px;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #d69964;
	font-weight: bold;
}

ul {
	height: 40px;
	list-style-type: none;
	margin: auto;
	display: inline;
}

nav li {
	font-size: 32px;
	display: inline;
	padding-left: 40px;
	padding-right: 40px;
}

nav {
	margin-top: 0px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

h1 {
	margin: auto;
	padding: auto;
}

h2 {
	font-weight: bold;
	margin: auto;
	font-size: 40px;
	text-align: center;
}

/*SPECIFIC*/


.container-fluid {
	padding: 0px;
}


.l {
	padding-left: 60px;
}

.title {
	font-size: 75px;
}

#about {
	white-space: nowrap;
}

.menu-icon {
	display: none;
}

#home, #products {
	border-right: 2px solid;
}

/*Glavna stranica*/

.firstimg {
	width: 100%;
	min-height: 100vh;
	background-image: url("images/kratom.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.imgtext1 {
	width: 80%;
	line-height: 2em;
	height: 250px;
	background: rgba(255, 255, 255, 0.5);
	opacity: 0;
	border-radius: 15px; 
	position: absolute;
	top: 140px;
	left: 10%;
	padding: 15px;
	overflow: hidden;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

#idemo {
	font-weight: bold;
	text-align: center;
	width: 30%;
	min-height: 80px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 15px; 
	color: #234426;
	position: absolute;
	top: 45%;
	left: 35%;
	font-size: 50px;
}

.imgtext1 p {
	font-size: 26px;
	background: rgba(0, 0, 0, 0);
}

/* O Nama stranica*/

.secondimg {
	width: 100%;
	min-height: 100vh;
	background-image: url("images/kratom7.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.imgtext2 {
	width: 80%;
	min-height: 170px;
	background: rgba(255, 255, 255, 0.6);
	opacity: 0;
	border-radius: 15px; 
	position: absolute;
	top: 160px;
	left: 10%;
	padding: 15px;
	border: 1px solid black;
}

.imgtext2 p, h2 {
	color: black;
	opacity: 0.8;
}

/* Kontakt stranica*/

.thirdimg {
	width: 100%;
	min-height: 100vh;
	background-image: url("images/kratom6.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.imgtext3 {
	width: 40%;
	min-height: 200px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 15px; 
	position: absolute;
	top: 160px;
	left: 30%;
	padding: 15px;
	border: 1px solid black;
}

#podaci input {
	float: right;

}

.deo {
	display: block;
	min-height: 50px;
}

#podaci input[type="submit"] {
      display: block;
      float: none;
      margin: auto;
}

#pol {
	text-align: center;
	width: 30%;
	margin: auto;
}

